@import "./../../../scss/style.scss";

#nav {
  position: absolute;
  width: 100%;
  border-bottom: 1px solid $border_color;

  .col-md-5 {
    z-index: 6;

    @media (max-width: 992px) {
      display: none;
    }
  }

  .col-md-2 {
    @media (max-width: 992px) {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

  }

  ul,
  li {
    padding: 0;
    margin: 0;
  }

  li {
    opacity: 0.99;
    color: $main_color;
    text-align: center;
    text-transform: uppercase;
  }

  .left_side {
    @extend %d-flex-start;

    li {
      @extend %d-flex;
      @extend %forester_h5_copy;
      padding: 32px 5px;
      letter-spacing: 1px;
      gap: 6px;
      transition: 0.3s ease-in-out;
      position: relative;

      &:hover {
        color: $hover_color;
      }

      i {
        font-size: 12px;
        font-weight: bold;
      }
    }

    #home_li,
    #pages_li,
    #portfolio_li,
    #shop_li,
    #blog_li {
      .hover_ul_home {
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease-in-out;
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 260px;
        box-shadow: 0 6px 25px rgba(0, 0, 0, 0.1);
        background-color: $navbar_background_color;
        z-index: 5;

        li {
          @extend %d-flex;
          justify-content: space-between;
          padding: 10px 20px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.07);
          text-transform: initial;
          font-weight: 300;
          font-size: 12px;
          line-height: 1.8;
          font-family: Poppins, sans-serif;
          letter-spacing: 0.2px;
          transition: 0.3s ease-in-out;
          color: $navbar_background_li_color;

          .link {
            color: $navbar_background_li_color !important;
            transition: 0.3s ease-in-out;
          }

          .hover2_ul {
            @extend .hover_ul_home;
            top: 0;
            left: 100%;
            z-index: 5;
            visibility: hidden !important;
            opacity: 0;
            transition: 0.3s ease-in-out;

            .hover2_lists {
              &:hover {
                color: #fff;
                background-color: rgba(255, 255, 255, 0.03);
              }
            }
          }
        }

        .hover_lists_home {
          &:hover {
            color: #fff;
            background-color: rgba(255, 255, 255, 0.03);

            .hover2_ul {
              visibility: visible !important;
              opacity: 1;
            }

            .link {
              color: #fff;
            }
          }
        }
      }

      &:hover {
        .hover_ul_home {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  .nav_logo {
    @media (max-width: 992px) {
      padding: 8px 0;
    }

    @extend %d-flex-center;
    height: 100%;

    img {
      @extend %img-contain;
    }
  }

  .nav_bar {
    display: none;

    .nav1_mobile {
      // transform: translateX(100%);
      background-color: #000;
      padding: 30px 8%;
      position: fixed;
      z-index: 100;
      top: 60px;
      right: 0;
      overflow: scroll;
      height: 0;
      padding: 0;
      transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.35s;
      overflow: hidden;
      width: 100%;

      ul {
        margin: 0;
        padding: 0;
        padding-left: 8%;

        li {
          @extend %d-flex;
          justify-content: space-between;
          font-size: 1.05em;
          margin: 0;
          line-height: 2.6em;
          font-weight: 600;
          cursor: pointer;
          transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
          color: #bed094;

          &:hover {
            color: #dc2828;
          }

          // &:first-child {
          //   // margin-bottom: 30px;
          // }

          svg {
            font-size: 38px;
            cursor: pointer;
          }

          .plus_navbar {
            font-size: 15px;
            transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.35s;
          }
        }

        .elements_portfolio,
        .portfolio_portfolio {
          height: 0;
          overflow: hidden;
          transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.35s;

          li {
            transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.35s;

            &:first-child {
              display: none;
            }

            li {
              padding-left: 10px;
            }
          }
        }
      }
    }

    @media (max-width: 992px) {
      display: block;
    }

    svg {
      font-weight: 700;
      color: white;
      font-size: 20px;
      cursor: pointer;
    }
  }

  .right_side {
    @extend .left_side;
    justify-content: flex-end;
    gap: 15px;

    .social_network {
      @extend %d-flex;
      transition: 0.3s ease-in-out;

      &:hover {
        color: $hover_color;
      }

      svg {
        font-size: 20px;
        border-right: 1px solid $border_color;
        padding-right: 7px;
        color: $main_color;
      }
    }
  }
}

.toggle_class {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  height: auto !important;
}