@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Frank+Ruhl+Libre:wght@300;400;500;700;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Michroma&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
#nav .nav_logo img {
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  cursor: pointer;
}

#nav .right_side .social_network,
#nav .left_side #home_li .hover_ul_home li,
#nav .right_side #home_li .hover_ul_home li,
#nav .left_side #home_li .hover_ul_home li .hover2_ul li,
#nav .right_side #home_li .hover_ul_home li .hover2_ul li,
#nav .left_side li,
#nav .right_side li {
  display: flex;
  align-items: center;
}

#nav .left_side,
#nav .right_side {
  display: flex;
  justify-content: start;
  align-items: center;
}

#nav .nav_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav .left_side li,
#nav .right_side li {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.2px;
  margin-bottom: 0;
  color: rgb(255, 255, 255);
}

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

li {
  cursor: pointer;
}

#nav {
  position: absolute;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
#nav ::-moz-selection {
  background: rgba(0, 0, 0, 0.16);
}
#nav ::selection {
  background: rgba(0, 0, 0, 0.16);
}
#nav .col-md-5 {
  z-index: 6;
}
#nav ul,
#nav li {
  padding: 0;
  margin: 0;
}
#nav li {
  opacity: 0.99;
  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
}
#nav .left_side li,
#nav .right_side li {
  padding: 32px 5px;
  letter-spacing: 1px;
  gap: 6px;
  transition: 0.3s ease-in-out;
  position: relative;
}
#nav .left_side li:hover,
#nav .right_side li:hover {
  color: rgba(255, 255, 255, 0.6);
}
#nav .left_side li i,
#nav .right_side li i {
  font-size: 12px;
  font-weight: bold;
}
#nav .left_side #home_li .hover_ul_home,
#nav .right_side #home_li .hover_ul_home,
#nav .left_side #home_li .hover_ul_home li .hover2_ul,
#nav .right_side #home_li .hover_ul_home li .hover2_ul {
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 260px;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.1);
  background-color: #131212;
  z-index: 5;
}
#nav .left_side #home_li .hover_ul_home li,
#nav .right_side #home_li .hover_ul_home li,
#nav .left_side #home_li .hover_ul_home li .hover2_ul li,
#nav .right_side #home_li .hover_ul_home li .hover2_ul li {
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
  text-transform: initial;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.8;
  font-family: Poppins, sans-serif;
  letter-spacing: 0.2px;
  transition: 0.3s ease-in-out;
  color: #8d8d8d;
}
#nav .left_side #home_li .hover_ul_home li .hover2_ul,
#nav .right_side #home_li .hover_ul_home li .hover2_ul {
  top: 0;
  left: 100%;
  z-index: 5;
  visibility: hidden !important;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
#nav .left_side #home_li .hover_ul_home li .hover2_ul .hover2_lists:hover,
#nav .right_side #home_li .hover_ul_home li .hover2_ul .hover2_lists:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.03);
}
#nav .left_side #home_li .hover_ul_home .hover_lists_home:hover,
#nav .right_side #home_li .hover_ul_home .hover_lists_home:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.03);
}
#nav .left_side #home_li .hover_ul_home .hover_lists_home:hover .hover2_ul,
#nav .right_side #home_li .hover_ul_home .hover_lists_home:hover .hover2_ul {
  visibility: visible !important;
  opacity: 1;
}
#nav .left_side #home_li:hover .hover_ul_home,
#nav .right_side #home_li:hover .hover_ul_home,
#nav .left_side #home_li:hover .hover_ul_home li .hover2_ul,
#nav .right_side #home_li:hover .hover_ul_home li .hover2_ul {
  visibility: visible;
  opacity: 1;
}
#nav .nav_logo {
  height: 100%;
}
#nav .right_side {
  justify-content: flex-end;
  gap: 15px;
}
#nav .right_side .social_network {
  transition: 0.3s ease-in-out;
}
#nav .right_side .social_network:hover {
  color: rgba(255, 255, 255, 0.6);
}
#nav .right_side .social_network svg {
  font-size: 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  padding-right: 7px;
  color: rgb(255, 255, 255);
} /*# sourceMappingURL=Navbar.css.map */
