@mixin _All(
  $width: null,
  $height: null,
  $object_f: null,
  $object_p: null,
  $border: null,
  $border_r: null,
  $cursor: null,
  $f_size: null,
  $f_weight: null,
  $color: null,
  $l_height: null,
  $txt_align: null,
  $txt_dec: null,
  $txt_transform: null,
  $margin: null,
  $padding: null,
  $position: null,
  $display: null,
  $justify_cont: null,
  $align_items: null,
  $flex_direct: null,
  $gap: null,
  $border_right: null,
  $top: null,
  $left: null,
  $right: null,
  $bottom: null,
  $bcg_color: null,
  $letter_spacing: null,
  $opacity: null
) {
  width: $width;
  height: $height;
  object-fit: $object_f;
  object-position: $object_p;
  border: $border;
  border-radius: $border_r;
  cursor: $cursor;
  font-size: $f_size;
  font-weight: $f_weight;
  color: $color;
  line-height: $l_height;
  text-align: $txt_align;
  text-decoration: $txt_dec;
  text-transform: $txt_transform;
  margin: $margin;
  padding: $padding;
  position: $position;
  display: $display;
  justify-content: $justify_cont;
  align-items: $align_items;
  flex-direction: $flex_direct;
  gap: $gap;
  border-right: $border_r;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
  background-color: $bcg_color;
  letter-spacing: $letter_spacing;
  opacity: $opacity;
}

// General Extends

%img-contain {
  object-fit: contain;
  object-position: center;
  cursor: pointer;
}

%img-cover {
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

%d-flex {
  display: flex;
  align-items: center;
}

%d-flex-start {
  display: flex;
  justify-content: start;
  align-items: center;
}

%d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Forester Section Extends

%explore_now_copy {
  text-align: center;

  a {
    font-weight: 500;
    font-size: 10.5px;
    line-height: 1;
    display: inline-block;
    padding: 17px 37px 17px 37px;
    margin: 5px;
    text-transform: uppercase;
    border-radius: 50px;
    letter-spacing: 1.5px;
    color: $main_color;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background-color: rgba(190, 208, 148, 0.8);
    transition: all 0.5s ease-out;

    &:hover {
      background-color: rgba(255, 255, 255, 0.15);
      color: #fff;
    }
  }
}

%forester_h5_copy {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.2px;
  margin-bottom: 0;
  color: $main_color;
}

// Story Section Extends

%story_h5_copy {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 15px;
  color: inherit;
}

%story_p_copy {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6em;
  font-family: "Nunito Sans", sans-serif;
  color: $story_read_more_color;
  display: inline-block;
  margin: 0;
}

// Service Section Extends

%service_header_copy {
  text-align: center;

  h5 {
    @extend %story_h5_copy;
    margin: 0;
  }

  h2 {
    @extend %service_h2_copy;
  }
}

%service_h2_copy {
  color: #000000;
  text-align: center;
  font-family: Montserrat;
  font-weight: 700;
  margin: 10px 0 40px 0;
  font-size: 50px;
  line-height: 0.92;
  letter-spacing: -2px;
}

// Creative Section Extends

%creative_h5_copy {
  @extend %story_h5_copy;
  color: rgba(0, 0, 0, 0.85);
  letter-spacing: 1px;
  text-align: start;
  margin: 0;
}

%creative_p_copy {
  @extend %story_p_copy;
  margin: 10px 0 0 0;
  color: #8d8d8d;
}

// Footer Section Extends

%footer_p_copy {
  @extend %story_p_copy;
  color: #fff;
  margin: 10px 0 15px;
}
