$main_color: rgba(255, 255, 255, 1);
$border_color: rgba(255, 255, 255, 0.2);
$hover_color: rgba(255, 255, 255, 0.6);
$navbar_background_color: #131212;
$navbar_background_li_color: #8d8d8d;
$story_read_more_color: #a2a2a2;
$story_h2_color: #000000;
