@import "./../../../../scss/style.scss";

#logo {
  padding: 70px 0;
  .logo_box {
    img {
      @extend %img-contain;
      transition: 0.4s ease-in-out;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
