@import "./../../../../scss/style.scss";

#touch {
  padding: 120px 0;

  .touch_header {
    h5 {
      @extend %story_h5_copy;
      margin: 0;
      letter-spacing: 4px;
    }

    h2 {
      @extend %service_h2_copy;
      margin-bottom: 10px;
    }
  }

  .touch_details {
    @extend %d-flex-center;

    .touch_left,
    .touch_right {
      @extend %d-flex;
      padding: 0 15px;

      p {
        margin: 0;
        font-weight: 300;
        font-size: 12px;
        font-family: "Poppins", sans-serif;

        svg {
          font-size: 20px;
          margin-right: 10px;
        }
      }
    }
  }

  form {
    margin-top: 70px;

    input,
    textarea {
      &:first-child {
        width: 40%;
      }
      &:nth-child(2) {
        width: 55%;
        float: right;
      }
      @extend %story_p_copy;
      width: 100%;
      height: 54px;
      padding: 15px 20px;
      color: #9d9d9d;
      background-color: rgba(0, 0, 0, 0.05);
      border: none;
      border-radius: 2px;
      box-shadow: none;
      margin-bottom: 30px;
      font-size: 12px;
      font-family: "Poppins", sans-serif;
      letter-spacing: 0.2px;
      font-weight: 300;
    }

    textarea {
      min-height: 210px;
    }
  }
  .explore_now {
    @extend %explore_now_copy;
    a {
      transition: 0.3s ease-in-out;
      &:hover {
        background-color: rgba(190, 208, 148, 0.638);
      }
    }
  }
}
